<h1>About Jennifer</h1>
<p>SEE DOS RUN, RUN DOS RUN</p>
<p>My favorite color is <%= @color %></p>
<% if @size > 9 %>
  <p>My shoe size is <%= @size %>. I have HUGE feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>

<style>
  body {
    background: <%= @color %>;
  }
</style>


<%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>
