<h1>Welcome to Jennifer's Awesome Travel Page</h1>
<p>Enjoy and get Ready for Traveling</p>

<%= @homeland %>

<ul>
<% @countries. each do |country| %>
    <li><%= country %></li>
    
<% end %>
    
    <%= image_tag "new-zealand.jpg", alt: "Mountains", id: "NZ", country: "NZLand", height: "200" %>
    
    <%= image_tag "Norway.jpg", alt: "Flag", id: "Norway", country: "Norway", height: "200" %>
    
    <%= image_tag "Peru.jpg", alt: "Senary", id: "Mountains", country: "Peru", height: "200" %>
    
    <%= image_tag "Sheep.jpg", alt: "Animal", id: "RockeySheep", country: "USA", height: "200" %>
    
   
    
 <% @travel_pics.each do |pic| %>
  <%= image_tag pic, height: "200", class: "img-responsive" %>
    
    
<% end %>   
</ul>